* {
    box-sizing: border-box;
  }

h2 {
    color: rgb(156, 102, 52);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    margin: 0;
    padding: 0;
    
  }

ul li {
  position:relative ;
  font-size: 18px;
  transition: 0.5s;
  
  

  /* Fareyle kopyalanamaması için  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
ul li:nth-child(odd) {
    background: #ebe9e9;
    
  }
ul li:hover {
    background: rgb(230, 141, 59);
  }
ul li.clicked {
    background: rgb(230, 141, 59);
    color: #fff;
    text-decoration: line-through; 
}
ul li.clicked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 16px;
    left: 7px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 15px 16px;
    border-radius: 30%;
  }
.close:hover {
    background-color: #ffffff;
    color: rgb(8, 7, 7);
    
  }
.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.addBtn {
    font-size:16px;
    cursor:pointer;
}
